@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.movie-list-container {
  border: $generic-border;
  box-shadow: $generic-box-shadow;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 85vh;

  @include mq('600px') {
    width: 100%;
  }

  h3 {
    align-self: flex-start;
    justify-self: center;
    color: $small-text;
    padding: 2%;
  }

  &_results {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h2 {
      padding-top: 10px;
      margin-left: 6%;
      color: $generic-bg;
      font-weight: bold;
      width: 50%;

      @include mq('600px') {
        width: 60%;
      }
    }
    .movie-list-container_btns {
      display: flex;
      justify-content: space-between;
      width: 25%;
      margin-right: 6%;
      padding-top: 10px;

      button {
        border: none;
        background-color: transparent;
        font-size: 24px;
        color: $generic-bg;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          color: $shoppify-green;
        }

        &:disabled {
          color: gray;
        }
      }
    }
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 3% 0 0 0;
    width: 100%;

    @include mq('1050px') {
      justify-content: space-between;
    }
  }

  @include mq('1050px') {
    height: 155vh;
  }

  @include mq('900px') {
    width: 100%;
  }
  @include mq('600px') {
    height: fit-content;
  }
}

.dark-mode {
  .movie-list-container {
    .movie-list-container_btns {
      button {
        i {
          color: $shoppify-green;

          &:hover {
            color: $darkMode-font;
          }
        }
        &:disabled {
          i {
            color: lighten($shoppify-green, 25%);
          }
        }
      }
    }
  }
}
