.nominations {
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
  width: 100%;
  height: 60vh;

  .noms-enter,
  .noms-appear {
    opacity: 0.2;
    transform: translateY(100px);
  }
  .noms-appear-active,
  .noms-enter-active {
    opacity: 1;
    transition: all 1500ms ease;
    transform: translateY(0px);
  }
  .noms-leave,
  .noms-exit {
    opacity: 1;
    transform: translateY(100px);
    transition: all 1500ms ease;
  }
  .noms-leave-active,
  .noms-exit-active {
    opacity: 0;
  }
}
