@import '../../sass/variables.scss';

.nomination-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: $generic-border;
  padding: 0 3% 0 0;
  margin-top: 10px;
  width: 90%;

  img {
    height: 90px;
    width: 75px;
  }

  &_info {
    padding: 1% 1%;
    text-align: center;

    p {
      color: $small-text;
    }
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 2% 2%;

    i {
      font-size: 18px;
    }

    &:focus {
      outline: none !important;
    }

    &:hover {
      border: $generic-border;
      color: red;
    }
  }
}

.dark-mode {
  .nomination-card {
    border: 1px solid $shoppify-green;
    p {
      color: $darkMode-font;
    }

    button {
      background-color: transparent;

      &:hover {
        border: none !important;
      }
      i {
        color: $darkMode-font;

        &:hover {
          color: red;
        }
      }
    }
  }
}
