@import '../../sass/variables.scss';

.nomination-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: $generic-border;
  padding: 0 3% 0 0;
  margin-top: 10px;
  width: 90%;

  img {
    height: 90px;
    width: 75px;
  }

  &_info {
    padding: 1% 1%;

    p {
      color: $small-text;
    }
  }

  button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 2% 2%;

    &:hover {
      border: $generic-border;
      color: red;
    }
  }
}
