@import '../../sass/variables.scss';

.navbar {
  padding: 1% 1%;
  border: $generic-border;
  background-color: $generic-bg;
  display: flex;
  justify-content: space-between;

  &_logo-container {
    display: flex;
    align-items: center;

    img {
      max-height: 125px;
      max-width: 125px;
    }

    h1 {
      font-size: 40px;
      font-weight: bold;
      color: rgb(245, 245, 245);
    }
  }

  .dark-mode__toggle {
    background: rgb(245, 245, 245);
    border-radius: 50px;
    border: 1px solid black;
    height: 20px;
    position: relative;
    width: 40px;

    .toggle {
      background: $shoppify-green;
      border-radius: 50px;
      height: 20px;
      left: 0;
      position: absolute;
      transition: 0.2s;
      width: 20px;
    }

    .toggled {
      left: 18px;
    }
  }
}

.dark-mode {
  color: #fff;
  background-color: $darkMode-background;

  .navbar {
    background-color: rgb(26, 26, 26);
    background-color: darken($shoppify-green, 12%);
  }
}
