@import '../../sass/variables.scss';
@import '../../sass/variables.scss';

.clipboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 4% 3%;
  border-radius: 3px;
  background-color: $darkMode-font;

  &_icon {
    i {
      font-size: 28px;
      color: rgb(53, 66, 253);
    }
  }
  &_info {
    padding: 1% 0;
    width: 80%;
    text-align: center;
  }
  &_btn {
    button {
      font-size: 16px;
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;

      i {
        font-size: 20px;

        &:hover {
          color: red;
        }
      }
    }
  }
}

.dark-mode {
  .clipboard {
    background-color: $generic-bg;
  }
  i {
    color: $shoppify-green;
  }
  button {
    color: $shoppify-green;
  }
}
