@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.form-container {
  padding: 3% 0;

  form {
    display: flex;
    flex-direction: column;
    width: 77%;
    margin: 0 auto;
    position: relative;

    input {
      border: 1px solid #ddd;
      background-color: white;
      border-radius: 3px;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;

      &:focus {
        outline: none !important;
        box-shadow: $generic-box-shadow;
      }
    }
    button {
      width: 25px;
      height: 25px;
      align-self: flex-end;
      position: absolute;
      bottom: 27px;
      right: 20px;
      border: none;
      background-color: white;
      cursor: pointer;
      outline: none;
      border: none;

      &:hover {
        background-color: rgb(241, 240, 240);
        border-radius: 50%;
      }

      i {
        color: $shoppify-green;
        font-size: 16px;
      }
    }
    small {
      color: $small-text;
      margin-top: 6px;
      font-size: 13px;
    }

    @include mq('500px') {
      width: 90%;
    }
  }
}

.dark-mode {
  input {
    background-color: $darkMode-subBackgrounds !important;
    color: $darkMode-font;
  }
  button {
    background-color: transparent !important;
  }
}
