@import '../../sass/variables.scss';

.form-container {
  padding: 3% 0;

  form {
    display: flex;
    flex-direction: column;
    width: 77%;
    margin: 0 auto;
    position: relative;

    input {
      border: 1px solid #ddd;
      background-color: white !important;
      border-radius: 3px;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;

      &:focus {
        outline: none !important;
        border: 1.5px solid rgb(118, 157, 228);
        box-shadow: $generic-box-shadow;
      }
    }
    button {
      width: 20px;
      align-self: flex-end;
      position: absolute;
      bottom: 30px;
      right: 20px;
      border: none;
      background-color: white;
      cursor: pointer;
      outline: none;
      border: none;

      i {
        color: $shoppify-green;
        font-size: 14px;
      }
    }
    small {
      color: $small-text;
      margin-top: 6px;
      font-size: 13px;
    }
  }
}
