@import '../../sass/variables.scss';
.movies-and-nominations {
  display: flex;
  justify-content: space-evenly;
  padding: 3% 3%;
  margin: 0 auto;

  &_movies {
    width: 70%;
  }

  .movies-and-nominations_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    h2 {
      width: 100%;
      padding: 2% 0 0 0;
      margin-bottom: 10px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }

    .movies-and-nominations_nominations {
      width: 88%;
      box-shadow: $generic-box-shadow;
    }
  }
}
